$shadow: #0000001f;
$primary-color: #837ba6;
$primary-color-dark: #544984;
$system-white: #F6FAFD;
$system-grey: #D3D3D8;
$font-color: #4c4c4c;
$overall-background: #FAF9FA;
$red: #ad1a1a;
$orange: #d46e42;
$yellow: #d17e02;
$black: rgba(22, 34, 48, 1);
$alert-red: rgba(224, 0, 0, 1);
$primary-button: #544984;
$white: white;
$hover-grey: #8080800d;
$hover-app:#f0f4f7;
$project-selected: #e7e7f4;
$sky-blue:#5fa2de