@import './mixin.scss';
@import './colors.scss';
@import './variables.scss';

body{
  #root{
    display: flex;
    flex-direction: column;
    .layout{
      margin: 20px;
    }
  }
  margin: 0;
  background-color: #00aeef;
}