@import './mixin.scss';
@import './colors.scss';
@import './variables.scss';

body{
  #root{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    .layout{
      margin: 20px 10px 50px 10px;
    }
    .bottom-menu{
      position: fixed;
      bottom: 0;
      width: 100%;
      background: var(--menu);
      > button {
        color: white;
        &.Mui-selected{
          color: var(--title)!important;
        }
      }
      
    }
    .loading-app{
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 50%;
    }
  }
  margin: 0;;
  background-color: var(--background);
}