$header-height: 60px;
$border-radius: 6px;
$margin-default: 20px;
$padding-default: 15px;
$padding-20: 20px;

$title: 1.65rem;
$subtitle: 1rem;
$text: 0.875rem;
$pageTitle: 3.2rem;
$pageSubtitle:1.188rem;
$h2: 1,125;
$h3: 0,875;

$max-screen: 1400px;
$layout-breakpoint-small: 960px;
