.statistics{
  .loading{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50%;
  }
  .statistic-table {
    .actions{
      justify-content: flex-end;
    }
    .less{
      background: var(--matches-background);
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding-bottom: 16px;
      .expand-more{
        .more-icon{
          color: white
        }
        span{
          color: white;
          transform:rotate(0deg);
          font-size: 14px;
          transition: none;
        }
      }
    }
    padding-bottom: 40px;
    > div {
      background: var(--card);
    }
    .table{
      th{
        color: var(--group-texts);
      }
      .table-row{
        &:nth-child(1) th:nth-child(1)::before, &:nth-child(2) th:nth-child(1)::before {
          content:'';
          width: 3px;
          background:var(--one);
          position: absolute;
          left: 0;
          top: 10%;
          height: 80%;
          border-radius: 25px;
        }
        &:nth-child(3) th:nth-child(1)::before, &:nth-child(4) th:nth-child(1)::before {
          content:'';
          width: 3px;
          background:var(--two);
          position: absolute;
          left: 0;
          top: 10%;
          height: 80%;
          border-radius: 25px;
        }
      
        .member{
          padding-left: 5px;
          display: flex;
          width: 100%;
          flex-direction: column;
          align-items: flex-start;
          flex-grow: 1;
        }
      }
    }
    .name{
      padding-left: 16px;
      margin-bottom: -25px;
    }
  }
}

@media (max-width: 400px) {
  .member{
    font-size: 12px;
    display: inline-block;
    max-width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px;
  }
}