.groups {
  margin: 8px;
  .breadcrumbs{
    padding-bottom: 40px;
  }
  .group {
    padding-bottom: 40px;
    .member{
      padding-left: 20px;
    }
  }
}

.menu{
  margin: -8px -8px 40px -8px;
  background-color: #363536;
}