@import "../../../static/variables.scss";
.groups-section {
  display: grid;
  width: 100%;
  gap: 15px;
  grid-template-columns: 1fr 1fr;

  &.single-group {
    grid-template-columns: 1fr;
  }
  
  .breadcrumbs {
    padding-bottom: 40px;
  }
  .loading {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50%;
  }
  .group {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    .actions {
      justify-content: flex-end;
    }
    .less {
      background: var(--matches-background);
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding-bottom: 16px;
      .expand-more {
        .more-icon {
          color: white;
        }
        span {
          color: white;
          transform: rotate(0deg);
          font-size: 14px;
          transition: none;
        }
      }
    }
    > div {
      background: var(--card);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .table {
      th {
        color: var(--group-texts);
      }
      .table-row {
        &:nth-child(1) th:nth-child(1)::before,
        &:nth-child(2) th:nth-child(1)::before {
          content: "";
          width: 3px;
          background: var(--one);
          position: absolute;
          left: 0;
          top: 10%;
          height: 80%;
          border-radius: 25px;
        }
        &:nth-child(3) th:nth-child(1)::before,
        &:nth-child(4) th:nth-child(1)::before {
          content: "";
          width: 3px;
          background: var(--two);
          position: absolute;
          left: 0;
          top: 10%;
          height: 80%;
          border-radius: 25px;
        }
        .country {
          display: flex;
          align-items: center;
          padding-left: 10px;
          .flag {
            padding-right: 10px;
          }
          .member {
            display: flex;
            width: 100%;
            flex-direction: column;
            align-items: flex-start;
            flex-grow: 1;
          }
        }
      }
    }
    .name {
      padding-left: 16px;
      margin-bottom: -25px;
    }
  }
}

@media (max-width: 790px) {
  .groups-section {
    grid-template-columns: 1fr;
    .group {
      .member {
        display: inline-block;
        max-width: 100px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 12px;
      }
    }
  }
}
