@import '../../../../static/colors.scss';
@import '../../../../static/mixin.scss';
@import '../../../../static/variables.scss';
.project-card{
    position: relative;
    padding: 30px;
    width: 300px;
    margin: 10px;
    background-color: $system-white;
    border-radius: $border-radius;
    .name{
        @include textBasis($title);
        text-transform: capitalize;
    }
    .options{
        position: absolute;
        right: 15px;
        bottom: 15px;
    }
    .label-text {
        margin: 5px 0;
        .text{
            margin-right: 10px;
            @include textBasis($text);
        }
        .score{
            @include textBasisBold($text);
        }
    }
    
    
}
#long-menu{
    a {
        text-decoration: none;
    }
    .context-menu:hover {
        background-color: transparent;
    }
}