.matches {
  background: #f1f3f7;
  .match{
    padding: 16px;
    .details{
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-bottom: 10px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.12);
      .date{
        font-weight: 300;
      }
      .title{
        color: grey;
      }
    }
    .player{
      padding-top: 16px;
      padding-left: 16px;
      display: flex;
      flex-direction: row;
      .member{
        padding-left: 20px;
      }
    }
  }
}

