@import "../../../../static/colors.scss";
@import "../../../../static/mixin.scss";
@import "../../../../static/variables.scss";

.app-list-container {
  display: flex;
  justify-content: flex-end;
  background-color: white;
  border-top: 0;
  
  .app-list {
    width: 100%;
    padding: 0 !important;
    .no-app-msg {
      padding-left: 16px;
    }
  }

  .loading-container {
    width: 100%;
    padding: $padding-default 0;
  }
}
