@import '../../../static/variables.scss';
.tournaments {
  .tournament{
    background: var(--card);
    &.current{
      background: var(--details);
    }
    margin-bottom: 22px;
    .card-actions {
      padding: 0 16px;
    }
  }
  .loading{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50%;
  }
  .collapse{
    padding: 0 15px;
    .category-list{
      padding: 0;
      .category{
        background-color: white;
        display: flex;
        flex-direction: column;
        color: var(--details);
        margin: 15px 0;
        p, span{
          display: flex;
          justify-content: center;
        }
      }
    }
  }
  
}