.tournament-bracket-container {
  padding: 1rem 0;
  width: min-content;
  overflow-x: auto;
  scroll-behavior: smooth;

  .kuuoXx {
    color: #474646;
  }
}

.custom-seed {
  width: 400px !important;
  box-shadow: none !important;
}

@media (max-width: 768px) {
  .tournament-bracket-container {
    overflow: visible;
    scroll-behavior: initial;
    width: 100%;
    .kjLZia {
      div {
        min-height: auto !important;
        overflow-x: visible !important;
        scroll-behavior: initial !important;
        div {
          div {
            overflow: visible !important;
          }
        }
      }
    }
  }
}
