@import "../../../../static/colors.scss";
@import "../../../../static/mixin.scss";
@import "../../../../static/variables.scss";
#project-container{
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    .form-project {
        background-color: $overall-background;
        width: 100%;
        flex-direction: column;        
        display: flex;
        padding: 30px 15px;
        border: solid 1px $system-grey;
        .input {
            margin: 10px 5px;
            max-width: 600px;
            width: 100%;
            background-color: white;
            &.score {
                max-width: 100px;
            }
        }
        .title {
            margin: 10px;
            @include textBasis($subtitle);
            text-transform: uppercase;
        }
        .row {
            justify-content: flex-start;
            flex-wrap: wrap;
            background-color: $overall-background;
        }
    }
}