@import '../../../../static/variables.scss';

#list-projects {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    min-height: 560px;
    max-width: 1120px;

    .list-projects-empty {
        display: flex;
        padding-top: 50px;
        justify-content: center;
    }

}