@import "../../../../static/colors.scss";
@import "../../../../static/variables.scss";
@import "../../../../static/mixin.scss";

.overall-score-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  border: $system-grey solid 1px;
  width: 100%;
  max-width: 250px;
  box-sizing: border-box;
  height: 308px;

  .score-title,
  .score-content {
    padding: $padding-default;
    width: 100%;
    box-sizing: border-box;
  }

  .score-title {
    border-bottom: 1px solid $system-grey;

    h3 {
      @include textBasis($title);
      margin: 0;
    }
  }

  .score-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .score {
      margin-bottom: 15px;

      .sub-title {
        @include textBasis($text);
        text-transform: uppercase;
        margin-bottom: 10px;
      }

      .final-score {
        @include textBasis($title);
        &.tasks {
          color: $sky-blue;
        }
        &.mitigations {
          color: $orange;
        }
        &.risks {
          color: $red;
        }
      }
    }
  }
}
