@import "../../../../../static/colors.scss";
@import "../../../../../static/mixin.scss";
@import "../../../../../static/variables.scss";

.app-component-item {
  display: flex;
  justify-content: space-between;
  height: 20px;
  border-top: 1px solid $system-grey;
  padding: 10px 10px 10px 51px;
  align-items: center;
  cursor: pointer;

  &:hover {
    background-color: $hover-app;
    .name {
      font-weight: 500;
    }
  }

  
  .item-wrapper {
    display: flex;
    text-transform: capitalize;
    .name{
      @include textBasis($subtitle);
    }
    .chip-wrapper{
      display: flex;
      width: 100px;
      justify-content: center;
      .status{
        align-self: center;
        background-color:$primary-color;
        border-radius: 20px;
        opacity: 0.8;
        height: 20px;
        span{
          width: unset;
          align-self: center;
          font-size: 14px;
          text-align:center;
          color:$white;
          
        }
      }
    }
  }

  .app-menu-wrapper {
    display: flex;
    height: 20px;

    .options {
      width: 30px;
      margin-left: 5px;
      height: 30px;
      margin-top: -5px;
    }
  }

}