@import "../../../../static/colors.scss";
@import "../../../../static/mixin.scss";
@import "../../../../static/variables.scss";

.item-app-container {
  
  &:last-child {
    margin-bottom: 0;
  }

  .app-item {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    height: 30px;
    cursor: pointer;
    padding-left: 36px;
  
    &:hover,
    &.active {
      background-color: $hover-app;

      .name {
        font-weight: 500;
      }
    }

    .menu-wrapper {
      display: flex;
      align-items: center;

      .options {
        margin-left: 5px;
        width: 30px;
        height: 30px;
      }
    }

    .item-wrapper {
      display: flex;
      align-items: center;
      width: 100%;

      .icon {
        min-width: 40px;
        padding-left: 8px;
      }
    }

    .name {
      @include textBasis($subtitle);
      width: 100%;
      flex: 80 auto;
      text-transform: capitalize;
    }

    .settings {
      padding: 0;
    }
    
    .expanded {
      transform: rotate(0deg);
      transition: transform 200ms ease-out;
    }

    .collapsed {
      transform: rotate(-90deg);
      transition: transform 200ms ease-out;
    }
  }
}