.qualifying {
  .select-cup {
    padding-bottom: 20px;
  }
  .select-stage {
    display: flex;
    flex-direction: row;
    justify-content: center;
    .stage {
      padding: 10px;
      background: white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border: 1px solid var(--details);
      border-radius: 10px;
      margin: 0 5px;
      min-width: 30px;
      &.selected {
        background: var(--details);
        color: white;
      }
      &.disabled {
        opacity: 0.5;
        pointer-events: none;
        cursor: not-allowed;
      }
    }
  }
  .matches {
    background-color: transparent;
    .loading {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 50%;
    }
    .tournament {
      max-width: 100%;
      display: flex;
      justify-content: center;
      align-items: flex-start;
    }
  }
  .title-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .arrow {
      background: white;
      border-radius: 10px;
      padding: 5px;
      color: var(--details);
      &.hidden {
        background: #d7d6d6;
      }
    }
  }
}
