.qualifying{
  margin: 20px;
  .select-cup{
    //background-color: white;
  }
  .select-stage{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px 0;
    .stage{
      padding: 10px;
      background: white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border: 1px solid #0091d3;
      border-radius: 10px;
      margin: 0 20px;
      min-width: 50px;
      &.selected{
        background: #0091d3;
        color: white;
      }
    }
  }
  .matches{
    background-color: transparent;
    margin: 0 -16px;
  }
  .title-menu{
    padding: 0 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .arrow{
      background: white;
      border-radius: 10px;
      padding: 5px;
      color: #0091d3;
      &.hidden{
        visibility: hidden;
      }
    }
  }
}