@import "../../../../../static/colors.scss";
@import "../../../../../static/mixin.scss";
@import "../../../../../static/variables.scss";

.task-item {
  display: flex;
  justify-content: space-between;
  height: 30px;
  border-bottom: 1px solid $system-grey;
  padding: 10px;
  //margin-bottom: $margin-default;
  background-color: white;
  align-items: center;

  &:last-child {
    margin-bottom: 0;
  }

  .item-wrapper {
    display: flex;
    align-items: center;
    width: 100%;

    .task-info {
      display: flex;
      align-items: center;
      gap: 20px;
      font-size: $text;

      .info-wrapper {
        display: flex;
        flex-direction: column;
      }

      .status {
        height: 28px;
      }
    }
  }
}
