.menu{
  margin: -20px -20px 5px;
  .logo{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #cbcccd;
    img{
      height: 100px;
      background: #cbcccd;
    }
  }
  .header{
    background-color: black;
  }
}