.menu {
  //padding-bottom: 70px;
  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--background);
    padding-bottom: 10px;
    img {
      padding-top: 50px;
      height: 50px;
      background: none;
    }
  }
  .main-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--menu);
    img {
      height: 50px;
      background: none;
    }
  }
  .header {
    background-color: var(--menu);
    .toolbar {
      min-height: 56px !important;
    }
    .atpe {
      display: flex;
      position: fixed;
      left: 50%;
      transform: translate(-50%, 0);
      flex-direction: row;
      justify-content: center;
      align-items: center;
      img {
        width: 100px;
      }
    }
  }

  .sponsors {
    margin-top: 50px;
    max-width: 100%;
    background-color: white;
    text-align: center;
    display: block;
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-radius: 4px;
    .sponsor-image {
      height: 4rem;
      object-fit: contain;
    }
    .swiper-pagination {
      position: relative;
      bottom: 0;
    }
    .swiper-wrapper{
      padding-top: 10px;
    }
  }
}
