@import "../../../static/colors.scss";
@import "../../../static/variables.scss";

.login {
  padding: 16px;
  form > div{
    padding-bottom: 20px;
  }
  .button{
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}
