.ranking{
  > div {
    background: var(--card);
    .row{
      padding: 10px 0;
      display: flex;
      flex-direction: row;
      .name {
        display: flex;
        width: 60%;
        p{
          padding-left:  10px;
          display: flex;
          align-items: center;
          flex-direction: column;
          font-size: 14px;
          color: white;
        }
      }
      > p{
        display: flex;
        flex-direction: column;
        font-size: 14px;
        color: white;
      }
      &:first-child{
        border-bottom: 1px solid black;
        > p{
          font-size: 16px;
          color: var(--title);
        }
        .pos{
          width: 20%;
        }
      }
      .pos{
        width: 20%;
      }
    }
  }
}