.match{
  &.disabled > div{
    background: #cbcccd;
  }
  padding: 0 16px 16px 16px;
  .details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    .date{
      font-weight: 300;
    }
    .title{
      color: grey;
    }
  }
  .player{
    padding-top: 16px;
    padding-left: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    .member{
      padding-left: 20px;
      &.winner{
        font-weight: 700;
      }
    }
    .result{
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      flex: 1;
      align-items: center;
      .check{
        color: #0091d2;
      }
      .set{
        width: 15px;
        padding-right: 15px;
        &.winner{
          color: #0091d3;
          font-weight: 700;
        }
      }
    }
  }
}