.match {
  > div {
    border-top: 3px solid var(--details);
  }
  &.disabled > div {
    border-top: none;
    background: #d7d6d6;
  }
  .edit-mode {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 15px;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    align-items: center;
    .date {
      font-weight: 300;
    }
    .title {
      color: grey;
    }
    .edit {
      cursor: pointer;
    }
  }
  .player {
    padding-top: 10px;
    padding-left: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    .wo {
      margin-left: 5px;
      > div {
        background: #ef5b5b;
        color: white;
        border-radius: 7px;
        margin-right: 5px;
      }
    }
    .img {
      min-width: 25px;
    }
    .member {
      padding: 0 10px;
      font-size: 14px;
      &.winner {
        font-weight: 700;
      }
    }
    .result {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      flex: 1;
      align-items: flex-end;
      .check {
        color: var(--details);
        display: flex;
        justify-content: center;
      }
      .set {
        padding-right: 10px;
        width: 20px;
        text-align: center;
        display: inline-block;
        max-width: 30px;
        &.winner {
          color: var(--details);
          font-weight: 700;
        }
      }
    }
  }

  .edit-match {
    .date-section {
      padding: 10px;
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      .date {
        min-width: 170px;
        margin-right: 10px;
      }
      .time {
        min-width: 30px;
        margin-right: 10px;
      }
      svg {
        height: 55px;
        color: #544984;
        padding-left: 20px;
      }
    }
    .player {
      padding: 10px;
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  }
}

@media (max-width: 400px) {
  .match {
    font-size: 12px;
    .player {
      flex-wrap: wrap;
      .member {
        display: inline-block;
        max-width: 120px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 12px;
      }
      .result {
        flex-direction: row;
        justify-content: flex-end;
      }
    }
  }
}

.group-match {
  margin: 0 10px 10px 10px;
}