@import '../../../static/variables.scss';

#projects {
  width: 100%;
  position: relative;
  flex-wrap: wrap;
  max-width: 1120px;
  .project-list-header{
    display: flex;
    gap: 10px;
    margin-bottom: 30px;
  }
}
