
  .header{
    background: var(--background);
    color: white;
  }

.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  .team{
    display: flex;
    flex-direction: row;
    align-items: end;
    margin-bottom: 20px;
    width: 100%;
    justify-content: center;
    align-items: center;
    .name {
      min-width: 150px;
      display: flex;
      flex-grow: 1;
    }
    .set{
      min-width: 25px;
      margin-right: 5px;
    }
   
  }
  .wo{
    display: flex;
    width: 100%;
    margin-bottom: 20px;
  }
  .buttons{
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
}